[Unit]
Description="{{ service_description }}"
Requires={{ name }}.socket
After=network.target

[Service]
Type=simple
Restart=on-failure

User={{ user }}
Group={{ group }}
Environment="GUNICORN_BIND_ADDRESS=/run/{{ name }}.socket"

WorkingDirectory={{ working_directory }}
ExecStart={{ gunicorn }} -c guniconfig.py wsgi:app

[Install]
WantedBy=multi-user.target
