*.pyc
.env
*.swp
*.egg-info
python-env
oio_rest/oio_api
*.orig
*.rej
*.class
*~
.ropeproject
oio_rest/dist
*.idea/
*.iml
**/target/
*/out/
test.sh
auth.sh
agents/MoxRestFrontend/moxrestfrontend.properties
agents/MoxTabel/moxtabel.properties
servlets/MoxDocumentUpload/web/WEB-INF/web.xml
modules/auth/auth.properties
oio_rest/oio_rest/settings.py
variables.sh

