*.pyc
.env
*.swp
*.egg-info
install.log
python-env
oio_rest/oio_api
*.orig
*.rej
*.class
*~
.ropeproject
oio_rest/dist
*.idea/
*.iml
**/target/
*/out/
test.sh
auth.sh
agents/MoxRestFrontend/moxrestfrontend.properties
agents/MoxTabel/moxtabel.properties
servlets/MoxDocumentUpload/web/WEB-INF/web.xml
oio_rest/oio_rest/settings.py
oio_rest/server-setup/oio_rest.conf
oio_rest/server-setup/oio_rest.wsgi
variables.sh
mox.conf
apache/mox.conf
agents/MoxDocumentDownload/moxdocumentdownload/moxdocumentdownload.conf
agents/MoxDocumentDownload/setup/moxdocumentdownload.conf
agents/MoxDocumentDownload/setup/moxdocumentdownload.wsgi
agents/MoxDocumentUpload/moxdocumentupload/moxdocumentupload.conf
agents/MoxDocumentUpload/setup/moxdocumentupload.conf
agents/MoxDocumentUpload/setup/moxdocumentupload.wsgi
agents/MoxDocumentDownload/setup/moxdocumentdownload.conf
agents/MoxRestFrontend/setup/moxrestfrontend.conf
agents/MoxRestFrontend/moxrestfrontend.conf
agents/MoxTabel/moxtabel.conf
agents/MoxTabel/setup/moxtabel.conf
