        <html>
        <head><title>Get token</title></head>
        <body>
        <form method="POST" action="/get-token">
            <label>
                Username:
                <input name="username" type="text"/>
            </label>
            <br/>
            <label>
                Password:
                <input name="password" type="password"/>
            </label>
            <br/>
            <input type="submit" value="Request Token"/>
        </form>
        </body>
        </html>
