# -*- conf -*-
# SPDX-FileCopyrightText: 2020 Magenta ApS
# SPDX-License-Identifier: MPL-2.0

[run]
data_file = .tmp/.coverage
branch = True

[report]
exclude_lines =
     raise NotImplementedError
     if settings.PROD_MODE:
     \bpass\b

[xml]
output= .tmp/coverage.xml
