# -*- conf -*-
[run]
data_file = .tmp/.coverage
branch = True

[report]
exclude_lines =
     raise NotImplementedError
     if flask.current_app.debug:
     if settings.PROD_MODE:
     \bpass\b

[xml]
output= .tmp/coverage.xml
