requests==2.21.0
pytz>=2018.7
Flask==1.0.2
Jinja2==2.10
MarkupSafe==1.1.0
Werkzeug==0.14.1
itsdangerous==1.1.0
psycopg2cffi-compat==1.1
pexpect==4.6.0
python-dateutil==2.7.3
pika==0.12.0
jsonschema==2.6.0
-e git+https://github.com/magenta-aps/flask_saml_sso@master#egg=flask_saml_sso
