[Unit]
Description="{{ service_description }}"

[Service]
Type=simple
Restart=on-failure

User={{ user }}
Group={{ group }}

WorkingDirectory={{ working_directory }}
ExecStart={{ gunicorn }} -c guniconfig.py app:app

[Install]
WantedBy=multi-user.target